body
{
    color: firebrick;
    text-align: left;
    font-family: "arial";
    font-size: 20px;
    margin: 0%;
    padding: 0%;
}
#cabecera
{
    background-color: aqua;
    box-shadow: 1px 2px 50px 1px chartreuse(1,1,1,1.5);
    color: blue;
    font-weight: bold; 
    margin: 0;
    padding: 0.5
    ;
}

#cabecera #tagline
{
    margin: 0 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 85%;
    padding: 1em;
    text-align: left;
    border: 5px solid rgb(221, 221, 221);
    margin: auto;
}

#container h1
{
    font-size: 30px;

}
#post
{
    padding: 1em;
}

