body
{
    color: firebrick;
    text-align: left;
    font-family: "cuorier";
    font-size: 20px;
    margin: 0%;
    padding: 0%;
}
#container
{
    width: 85%;
    padding: 2em;
    text-align: left;
    border: 5px solid #ddd;
    margin: auto;
}

#container h1
{
    font-size: 30px;

}


